version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://host.docker.internal:5200/api
        - VITE_APP_TITLE=Room Booking
    ports:
      - "3200:80"
    restart: unless-stopped
